/* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Variáveis para cores e fontes */
:root {
    --cor-primaria: #000; /* Cor principal (preta) */
    --cor-secundaria: #f6f6f6; /* Cor secundária (branca) */
    --cor-terciaria: #22d4fd; /* Cor terciária (azul claro) */
    --cor-hover: #272727; /* Cor para hover (cinza escuro) */

    --fonte-principal: 'Krona One', sans-serif; /* Fonte principal */
    --fonte-secundaria: 'Montserrat', sans-serif; /* Fonte secundária */
}

/* Estilos gerais para resetar margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
}

/* Estilos gerais para o corpo da página */
body {
    /*height: 100%;*/
    background: var(--cor-primaria); /* Cor de fundo principal */
    color: var(--cor-secundaria); /* Cor do texto principal */
    box-sizing: border-box;
}

/* Estilos para o menu de navegação */
.menu {
    padding: 2% 0% 0% 15%; /* Preenchimento do menu */
}

.principal__menu {
    display: flex;
    gap: 80px; /* Espaço entre os itens do menu */
}

.botao__menu {
    color: var(--cor-terciaria); /* Cor do texto do menu */
    font-family: var(--fonte-secundaria); /* Fonte do menu */
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    text-decoration: none; /* Remove sublinhado dos links */
}

/* Estilos para a seção principal */
.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%; /* Preenchimento da seção principal */
    gap: 82px; /* Espaço entre elementos */
}

/* Estilos para o conteúdo principal */
.principal__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espaço entre elementos internos */
    width: 50%;
}

/* Estilos para o título principal */
.principal__titulo {
    color: var(--cor-secundaria); /* Cor do título */
    font-family: var(--fonte-principal); /* Fonte do título */
    font-size: 2.25rem; /* Tamanho da fonte do título */
}

/* Estilos para o destaque no título */
.titulo-destaque {
    color: var(--cor-terciaria); /* Cor do destaque no título */
    font-family: var(--fonte-principal); /* Fonte do destaque no título */
    font-size: 2.25rem; /* Tamanho da fonte do destaque no título */
}

/* Estilos para o parágrafo de introdução */
.principal_paragrafo {
    color: var(--cor-secundaria); /* Cor do texto do parágrafo */
    font-family: var(--fonte-secundaria); /* Fonte do texto do parágrafo */
    font-size: 1.25rem; /* Tamanho da fonte do texto do parágrafo */
}

/* Estilos para o grupo de botões */
.apresentacao__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px; /* Espaço entre botões */
}

.apresentacao__subtitulo {
    font-family: var(--fonte-secundaria); /* Fonte do subtítulo */
    font-size: 1.5rem; /* Tamanho da fonte do subtítulo */
    font-style: normal;
    font-weight: 400;
}

/* Estilos para os botões */
.botao {
    display: flex;
    justify-content: center;
    gap: 16px; /* Espaço entre elementos dentro do botão */
    border: 2px solid var(--cor-terciaria); /* Borda do botão */
    width: 60%; /* Largura do botão */
    text-align: center;
    border-radius: 8px; /* Borda arredondada */
    font-size: 1.5rem; /* Tamanho da fonte do botão */
    font-weight: 600; /* Peso da fonte do botão */
    padding: 21.5px 0; /* Preenchimento interno do botão */
    text-decoration: none; /* Remove sublinhado dos links dentro do botão */
    color: var(--cor-secundaria); /* Cor do texto do botão */
    font-family: var(--fonte-secundaria); /* Fonte do texto do botão */
}

.botao img {
    width: 10%;
    height: 3%;
    position: relative;
}

.botao:hover {
    background-color: var(--cor-hover); /* Cor de fundo ao passar o mouse */
}

/* Estilos para a imagem do autor */
.apresentacao__img {
    width: 50%; /* Largura da imagem do autor */
    height: 30%; /* Altura da imagem do autor */
    border-radius: 10px; /* Borda arredondada da imagem */
}

/* Estilos para o rodapé */
.rodape {
    color: var(--cor-primaria); /* Cor do texto do rodapé */
    background-color: var(--cor-terciaria); /* Cor de fundo do rodapé */
    padding: 24px; /* Preenchimento do rodapé */
    text-align: center; /* Alinhamento do texto no rodapé */
    font-family: var(--fonte-secundaria); /* Fonte do texto do rodapé */
    font-size: 1.5rem; /* Tamanho da fonte do texto do rodapé */
    font-weight: 400; /* Peso da fonte do texto do rodapé */
}

/* Estilos responsivos para telas com largura máxima de 1200px */
@media(max-width:1200px) {
    .menu {
       padding: 10%; /* Preenchimento do menu */
    }

    .principal__menu {
        justify-content: center; /* Centraliza os itens do menu */
    }

    .principal {
        flex-direction: column-reverse; /* Inverte a direção dos elementos na seção principal */
        padding: 5%; /* Preenchimento da seção principal */
    }

    .principal__conteudo {
       width: auto; /* Largura automática do conteúdo principal */
    }
}
